.imagen-portada {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.pie-pagina {
    background-color: #363636;
    color: white;
    padding: 30px;
    text-align: center;
    margin-top: 40px;
}

.pie-pagina a {
    color: #00d1b2;
    margin: 0 10px;
    text-decoration: none;
}
